.App {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 10vh;
  align-self: center;
  width: 80%;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 30vh;
  align-self: center;
  color: #2a6787;
  font-size: 400%;
  font-family: "Courier New", monospace;
  font-weight: 520;
}

.smallerText {
  display: flex;
  justify-content: center;
  vertical-align: text-bottom;
  margin: 0 auto;
  align-self: center;
  color: #2a6787;
  font-size: 150%;
  font-family: "Courier New", monospace;
  height: 20vh;
}

.bottomText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  align-self: center;
  color: #2a6787;
  font-size: 120%;
  font-family: "Courier New", monospace;
  height: 30vh;
}

.api {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  align-self: center;
  color: #2a6787;
  font-size: 100%;
  font-family: "Courier New", monospace;
  height: 10vh;
}

.list {
  display: flex;
  justify-content: center;
}
